/* Start Typefaces */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap');

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('../assets/fonts/gothamrnd/GothamRnd-Book.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded Medium';
  src: url('../assets/fonts/gothamrnd/GothamRnd-Medium.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* End Typefaces */
