/* Start Information UI Cards */

.info-grid {
  display: grid;
  grid-gap: 2.75em;
  margin: 2em 1em;

  li {
    padding-left: 0;
    padding-right: 0;
  }
}

@media ($sm-screen) {
  .info-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media ($md-screen) {
  .info-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.info-card {
  background: $fg-color;
  height: 32em;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  padding: 2em;
  cursor: default;

  @include rounded-corners(0.3em);
  @include shadow;

  .info-body {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
    flex-grow: 1;

    a,
    a:visited {
      cursor: pointer;

      i {
        color: $accent-dark;

        @include transition(0.3);
      }
    }

    i:hover,
    a:hover > i {
      color: $accent-light;
    }
  }

  .info-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 1em;

    .info-heading {
      display: flex;
      flex-direction: column;
      margin: 1em 0;

      h4 {
        font-size: 1.1em;
      }
    }

    label {
      text-transform: uppercase;
      font-weight: 400;
      color: $secondary;
      font-size: 0.85rem;
      margin-bottom: 0.3em;
    }
  }

  .info-footer {
    display: flex;
    justify-content: center;

    p {
      align-self: flex-end;
      text-align: center;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 400;
      color: $accent-light;
    }
  }

  .info-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin-bottom: 0.75rem;

      svg {
        font-size: 1.45rem;
      }

      .fa-external-link-alt {
        font-size: 1.3rem;
      }
    }

    a:last-child {
      margin-bottom: 0;
    }
  }
}

@media ($sm-screen) {
  .info-card {
    height: 26em;

    .info-content {
      font-size: 0.9rem;
    }

    .info-footer {
      p {
        font-size: 0.75rem;
      }
    }
  }
}

/* Start Information UI Cards */
