/* Start Page Sections */

section {
  min-height: 100vh;
  padding: 1em 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#intro-section {
  margin-top: 1em;
}

#about-section {
  padding-bottom: 7em;

  #about-bio-img {
    @include section-img($about-img, 11em);
    border-radius: 50%;
    margin-top: 1rem;
    overflow: hidden;
    position: relative;
  }

  #about-bio-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(
      $accent-dark,
      0.4
    ); /* Adjust the color and opacity as needed */
  }
}

#intro-section,
#contact-section {
  align-items: center;
}

#intro-section-img,
#contact-section-img {
  margin-bottom: 1.5em;
}

#intro-section-img {
  @include section-img($intro-img, $xs-img);
}

#contact-section-img {
  @include section-img($contact-img, $xs-img);
}

@media ($sm-screen) {
  #intro-section-img {
    @include section-img($intro-img, $md-img);
  }
}

@media ($md-screen) {
  #intro-section {
    justify-content: space-around;
    flex-direction: row-reverse;
    text-align: left;
    margin-top: 0;
  }

  #intro-section-img {
    @include section-img($intro-img, $md-img);
    margin: 0;
  }

  #about-section {
    padding-bottom: 0;
  }

  #contact-section-img {
    @include section-img($contact-img, $sm-img);
  }
}

@media ($lg-screen) {
  #intro-section,
  #contact-section {
    padding: 0em;
  }

  #intro-section-img {
    @include section-img($intro-img, $lg-img);
    margin: 0;
  }
}

/* End Page Sections */
