/* Start Navigation */

nav {
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4em;
  position: fixed;
  z-index: 999;
  background-color: $bg-color;

  @include transition(0.35);

  .container {
    /*Contents inside of nav*/
    display: flex;
    justify-content: space-between; /*If title is deleted, set to flex-end*/
    padding: 0rem 2rem;
  }

  #nav-heading {
    padding: 1.5em;
    text-transform: none;
    color: $primary;
    margin: 0;
    transition: opacity 0.4s;
  }

  li {
    text-transform: uppercase;
  }
}

.show-bar {
  background-color: $fg-color;
  transform: translateY(0px);

  @include shadow;
}

.hide-bar {
  transform: translateY(-100%);
}

/* Start Desktop Navigation */

nav {
  #nav-bar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;

    li {
      padding: 1.1em;
      font-size: 1.05rem;

      a:hover .nav-link-underline {
        opacity: 1;
        transition: opacity 0.4s;
      }

      .a-highlighted {
        color: $accent-dark;
      }
    }

    li:last-child {
      padding-right: 0;
    }

    .nav-link-underline {
      position: absolute;
      background-image: url($underline-img);
      background-repeat: no-repeat;
      background-position: center bottom;
      width: 2.5em;
      height: 0.75rem;
      display: block;
      opacity: 0;
      transition: opacity 0.4s;
    }

    .nav-link-underline-highlighted {
      opacity: 1;
    }

    button {
      font-size: 1rem;
      width: 6em;
      height: 2em;
      margin-left: 1.5em;
      margin-right: 1.5em;
      margin-top: -1px;
    }
  }
}

/* End Desktop Navigation */

/* Start Mobile Navigation */

.burger-container {
  display: flex;
  cursor: pointer;
  align-items: flex-end;
  flex-direction: column;
  padding: 18px 0px;
}

@mixin hamburger($width) {
  width: $width;
  height: 4px;
  border-radius: 5em;
  background-color: $accent-dark;
  margin: 3px 0;

  @include transition(0.3);
}

.bar1 {
  @include hamburger(40px);
}

.bar2 {
  @include hamburger(30px);
}

.bar3 {
  @include hamburger(20px);
}

.cross {
  .bar1 {
    width: 30px;
    -webkit-transform: rotate(-45deg) translate(-8px, 7px);
    transform: rotate(-45deg) translate(-8px, 7px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    width: 30px;
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -6px);
  }
}

aside {
  position: fixed;
  right: 0;
  height: 0;
  width: 100%;
  overflow-x: hidden;

  @include transition(0.4);

  #nav-side-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -4em;
    margin-left: 25%;
    margin-right: 25%;
    width: 40%;

    button:hover {
      background: $shadow !important;
    }

    li {
      text-align: left;
      text-transform: uppercase;
      font-size: 1.65rem;
      margin: 1em;
    }
  }

  button,
  button:focus,
  button:active {
    margin: 1em;
    font-size: 1.5em;
  }
}

.show-links {
  height: 100%;
  overflow: hidden;

  ul {
    height: 100vh;
  }
}

.slide-out {
  height: 100% !important;
  background: $shadow;

  @include shadow;
}

.disable-scroll {
  overflow: hidden;
  position: relative;
  height: 100%;
}

/* End Mobile Navigation */

/* Start Language Switch */

$switch-width-lg: 80px;
$switch-height-lg: 40px;
$toggle-size-lg: 32px;

$switch-width-sm: 60px;
$switch-height-sm: 30px;
$toggle-size-sm: 22px;

.switch-container {
  width: $switch-width-sm;
  margin: 1rem 4rem;

  input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }
}

.switch {
  background: $accent-light;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  height: $switch-height-lg;
  position: relative;
  width: $switch-width-lg;
}

.switch label {
  color: $accent-dark;
  cursor: pointer;
  font-size: 1rem;
  line-height: 250%;
  text-transform: uppercase;
  transition: color 0.2s ease;
  width: $switch-width-lg - $toggle-size-lg - 4px;
}

.switch label:nth-of-type(1) {
  left: -75%;
  position: absolute;
  text-align: right;
}

.switch label:nth-of-type(2) {
  position: absolute;
  right: -75%;
  text-align: left;
}

.switch input {
  cursor: pointer;
  height: $switch-height-lg;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 80px;
  z-index: 2;
}

.switch input:checked ~ label:nth-of-type(1) {
  color: $accent-dark;
  font-weight: 500;
}
.switch input:checked ~ label:nth-of-type(2) {
  color: $secondary;
}

.switch input ~ :checked ~ label:nth-of-type(1) {
  color: $secondary;
}
.switch input ~ :checked ~ label:nth-of-type(2) {
  color: $accent-dark;
  font-weight: 500;
}

.switch input:checked ~ .toggle {
  left: 4px;
}

.switch input ~ :checked ~ .toggle {
  left: $switch-width-lg - $toggle-size-lg - 4px;
}

.switch input:checked {
  z-index: 0;
}

.toggle {
  position: absolute;
  left: 0;
  top: 4px;
  background: $bg-color;
  border-radius: 50%;
  height: $toggle-size-lg;
  width: $toggle-size-lg;
  transition: left 0.2s ease;
  z-index: 1;
}

@media ($md-screen) {
  .switch-container {
    margin-top: 0;
    margin-bottom: 0;
    width: $switch-width-sm;
  }

  .switch {
    height: $switch-height-sm;
    width: $switch-width-sm;
  }

  .switch label {
    font-size: 0.85rem;
    line-height: 250%;
    width: $switch-width-sm - $toggle-size-sm - 4px;
  }

  .switch input {
    height: $switch-height-sm;
  }

  .switch input ~ :checked ~ .toggle {
    left: $switch-width-sm - $toggle-size-sm - 4px;
  }

  .toggle {
    height: $toggle-size-sm;
    width: $toggle-size-sm;
  }
}

/* End Navigation */
